
.shopCategoryWrapper{
    background-color: white;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top:70px;
}
.modal{
    box-shadow: none !important;
}
.verticalLine{
    border-left: 2px #C0C5CB solid;
    padding-left:15px ;
}
.viewAllCategoriesBtn{
    background-color: #80B435;
    color: white !important;
    font: normal normal 600 16px/22px Open Sans !important;
    letter-spacing: 0px !important;
    outline: none !important;
    border-width: 0px;
}
.productItem{
    font: normal normal 600 18px/24px Open Sans;
    letter-spacing: 0px;
    color: #415162;
}
.productFlavour{
    font: normal normal normal 16px/28px Open Sans;
    letter-spacing: 0px;
    color: #415162;
}
.ViewAllBtn{
    font: normal normal normal 15px/20px Open Sans;
    letter-spacing: 0px;
    color: #CE1126;
    opacity: 1;
    margin:10px 0 10px 0;
}